.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}

.capa {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .container {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .container {
    justify-content: center;
    gap: 10px;
  }
}
