.rodape {
  background-color: var(--preto);
  color: var(--branco);
  padding: 2em 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape h2 {
  font-weight: 400;
  font-size: 18px;
  color: var(--branco);
}

.texto {
  font-size: 1em;
}

.links {
  display: flex;
  gap: 1em;
}

@media (min-width: 801px) and (max-width: 1500px) {
  .rodape {
    padding: 2em 15em;
  }
  .texto {
    font-size: 0.95em;
  }
}

@media (max-width: 800px) {
  .rodape {
    padding: 2em 10em;
  }
  .texto {
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  .rodape {
    flex-direction: column;
    padding: 2em 2em;
  }
  .texto {
    font-size: 0.8em;
  }
  .links {
    flex-direction: column;
    gap: 0.5em;
  }
}
