.container {
  padding: 0 0 1em 0;
  margin-top: 0.5em;
  width: 100%;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.capa {
  width: 100%;
  height: auto;
}

.nota {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--preto);
  background-color: var(--amarelo-claro);
  padding: 0.5em;
  border-radius: 0.25em;
  margin-top: 0.5em;
  text-align: center;
  width: fit-content;
  align-self: center;
}

.container h2,
.favoritar {
  padding: 0 1em;
}

.favoritar {
  width: 25px;
}

.link {
  text-decoration: none;
  color: var(--preto);
  text-align: left;
}
