.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 20em;
  background-color: var(--preto);
}

.logo {
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  gap: 1em;
}

@media (min-width: 801px) and (max-width: 1500px) {
  .cabecalho {
    padding: 1.1em 15em;
  }
  .logo {
    width: 130px;
  }
}

@media (max-width: 800px) {
  .cabecalho {
    padding: 1.1em 10em;
  }
  .logo {
    width: 120px;
  }
}

@media (max-width: 400px) {
  .cabecalho {
    flex-direction: column;
    padding: 1em 2em;
  }
  .logo {
    width: 100px;
  }
  nav {
    flex-direction: column;
    gap: 0.5em;
  }
}
