.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Para telas grandes */
  gap: 20px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

.capa {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas para telas até 800px */
    max-width: 800px;
  }
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: repeat(1, 1fr); /* 1 coluna para telas até 400px */
    max-width: 100%;
  }
}
