.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas para os cards */
  gap: 20px; /* Espaçamento entre os cards */
  padding: 10px; /* Mantém o espaçamento interno */
  margin: 0 auto; /* Centraliza a grid horizontalmente */
  max-width: 1200px; /* Ajuste o valor para ocupar mais espaço, conforme necessário */
}

.capa {
  width: 100%;
  height: auto;
}
